<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

    {% stylesheets filter='lessphp,cssrewrite,?yui_css' output='css/foundation.css'
        'bundles/krillafoundation/FoundationLess/less/foundation.less'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets filter='lessphp,cssrewrite,?yui_css' output='css/foundation-ie.css'
        'bundles/krillafoundation/FoundationLess/less/ie.less'
    %}
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="{{ asset_url }}" />
        <![endif]-->
    {% endstylesheets %}
	
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}

    {% javascripts filter='?yui_js' output='js/foundation.js'
        '@KrillaFoundationBundle/Resources/public/FoundationLess/javascripts/foundation.js'
        '@KrillaFoundationBundle/Resources/public/FoundationLess/javascripts/app.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}{% endblock %}
</body>
</html>
